*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card{
    width: 400px;
    height: 300px;
    background-color: rgb(85, 82, 82);
}
img{
    width: 100%;
    
}
.image{
    width: 400px;
    height: 230px;
    overflow: hidden;
}
h1{
    font-size: 25px;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}
h2{
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-top: 10px;
}